<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body style="max-width: 700px; margin: auto;">
    {% block mainmenu %}
    <header>
        <div style="background-color: rgb(239, 192, 22);">
        <h3><a href="{% url 'main' %}">"Library" web-project</a></h3>
        <p>om7-s16-team12</p>
        <p>Ruslan Mansurov, Maksym Fil</p>
        </div>
        <hr>
        <br>
    </header>
    {% endblock mainmenu %}
    <main style="background-color: rgb(233, 232, 222);">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>