{% extends 'base.html' %}

{% block content %}

<div>Sprint 18 backlog api:
    <ul style="font-size:small">
        <li><a href="{% url 'customuser-list' %}">api/v1/user/{id}</a></li><br>
        <li><a href="{% url 'user_order-list' 5 %}">api/v1/user/{id}/order/{id}</a></li><br>
        <li><a href="{% url 'order-list' %}">api/v1/order/{id}</a></li><br>
        <li><a href="{% url 'book-list' %}">api/v1/book/{id}</a></li><br>
        <li><a href="{% url 'author-list' %}">api/v1/author/{id}</a></li><br>
    </ul>
    Sprint 16 backlog
    "create the appropriate views and templates for":
    <ol style="font-size:small">
        <li><a href="{% url 'books' %}">show information about all books in library</a></li><br>
        <li><a href="{% url 'bookid' 5 %}">show information about a specific book (by id)</a></li><br>
        <li><a href="{% url 'unordered' %}">show information about all unordered book</a></li><br>
        <li><a href="{% url 'slug' 'rand' %}">show information about book filtering by different criteria (by author, by part of name, etc.)</a></li><br>
        <li><a href="{% url 'user_int' 7 %}">show all books given by specific user (by id)</a></li><br>
        <li><a href="{% url 'authors_int' 19 %}">show all books for specific author (by id)</a></li><br>
        <li><a href="{% url 'books' %}">show information about all books sorted by name (asc and desc order), sorted by count</a></li><br>
        <li><a href="{% url 'orders' %}">show information about all orders sorted by date (created, plated at)</a></li><br>
        <li><a href="{% url 'breakers' %}">show information about users who does not hand over books on time</a></li><br>
    </ol>
    Some additional useful links:
    <ul style="font-size:small">
        <li><a href="{% url 'books' %}">all books</a></li><br>
        <li><a href="{% url 'users' %}">all users</a></li><br>
        <li><a href="{% url 'authors' %}">all authors</a></li><br>
        <li><a href="{% url 'orders' %}">all orders</a></li><br>
    </ul>

</div>


{% endblock %}