{% extends 'base.html' %}

{% block content %}

{% if book_id %}
<h2>Book by id {{ book_id }}:</h2>
<p>{{books_id.name}}</p>

{% elif book_name %}

<b>Books by name:</b>
<ul>
    {% for book in books_by_name %}
    <li>{{book}}</li>
    {% endfor %}
</ul>

{% else %}

<b>All books in library:</b>
<ul>
    {% for book in all_books %}
    <li>{{book.name}}</li>
    {% endfor %}
</ul>

<br>

<b>Sorted by name asc, count:</b>
<ul>
    {% for book in all_books_sorted_asc %}
    <li>{{book.name}}</li>
    {% endfor %}
</ul>

<br>

<b>Sorted by name desc, count:</b>
<ul>
    {% for book in all_books_sorted_desc %}
    <li>{{book.name}}</li>
    {% endfor %}
</ul>

{% endif %}


{% endblock %}
