{% extends 'base.html' %}

{% block content %}

{% if book_id %}

<b>Book by id {{ book_id }}:</b>
{{books_id.name}}
<br>
<br>
<form action="{% url 'bookid' book_id %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="delete">Delete this book</button>
</form>
<br>
<br>
<b>Update this book:</b>
<form action="{% url 'bookid' book_id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>
<br>

{% elif book_name %}

<b>Books by name:</b>
<ul style="font-size:small">
    {% for book in books_by_name %}
    <li>{{book}}</li>
    {% endfor %}
</ul>

{% else %}

<b>Add new book:</b>
<form action="{% url 'books' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>
<br>
<div style="display: inline-block; width: 200px;">
    <b>All books in library ({{all_books | length}}):</b>
    <ul style="font-size:small">
        {% for book in all_books %}
        <li><a href="{% url 'bookid' book.id %}">{{book.name}}</a></li>
        {% endfor %}
    </ul>

</div>
<div style="display: inline-block; width: 200px;">
    <b>Sorted by name asc, count:</b>
    <ul style="font-size:small">
        {% for book in all_books_sorted_asc %}
        <li>{{book.name}}</li>
        {% endfor %}
    </ul>

</div>

<div style="display: inline-block; width: 200px;">
    <b>Sorted by name desc, count:</b>
    <ul style="font-size:small">
        {% for book in all_books_sorted_desc %}
        <li>{{book.name}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


{% endblock %}